html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 100%;
    background: url("http://wallpapercave.com/wp/vo32bd8.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#contain {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
}

h1 {
    display: inline-block;
    color: white;
    margin: 0px;
    font-size: 60px
}

#name {
    margin-left: 6%;
}

#title {
    margin-left: 20%;
}

#prof {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 360px;
    border: 0.5px solid white;
    display: block;
    margin: 0px auto;
    top: 30%;
}

#projects {
    text-align: center;
    /*border: 1px solid red;
*/
}
