* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

hr {
	margin: 0 auto;
	width: 90%;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #1D599C, #ccc);
}

.headFlex {
	height: 100%;
	display: flex;
	flex-direction: column;

	justify-content: center;
}

.typewriter {
	text-transform: uppercase;
	color: white;
	text-shadow: 4px 4px #1D599C;
	font-size: 18px;
	text-align: center;
}

html, body {
	height: 100%;
	width: 100%;
}

.goldlight {
	color: #1D599C;
	font-weight: bolder;
	text-shadow: 2px 2px pink;
}

.pinklight {
	color: pink;
	font-weight: bolder;
	text-shadow: 2px 2px #1D599C;
}

.bluebold {
	color: #1D599C;
	font-size: 30px;
}

header {
	width: 100%;
	height: 100vh;
	background: url("./assets/animecity.jpg");
	background-size: cover;

}

.innerHead {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.headnav {
	list-style: none;
	text-align: right;
	color: white;
	background: rgba(0,0,0,1);
	height: 50px;
}

.innerNav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	height: inherit;
	float: right;
}

li, a, nav {
	text-decoration: none;
}

a {
	color: white;
	transition: 0.5s;
}

a:hover {
	color: #1D599C;
	transition: 0.5s;
}

#name, .soon {
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
}

#name {
	color: white;
	text-shadow: 4px 4px #1D599C;
}

.face {
	width: 300px;
}

/*THE "COMING SOON" AND THE "THE WORKS" ARE NOT LINED UP AND IT'S BUGGING ME*/

.soon {
	right: 1.5%;
}

/*END*/

.container {
	width: 100%;
	text-align: center;
}

.biosec {
	/* position: relative; */
	width: 80%;
	margin: 0 auto;
	display: flex;
	/* flex-wrap: wrap; */
}

.bioimg {
	width: 35%;
	display: flex;
	align-items: center;
}

.biosec img {
	min-height: 300px;
	height: auto;

	padding-right: 50px;
	border-right: 2px solid #1D599C;
}

.biosec article {
	line-height: 3em;
	width: 65%;
}

.mission > article {
	position: relative;
	width: 64%;
	margin: 0 auto;
}

#missionbio {
	line-height: 3em;
	margin: 0 auto;
	width: 100%;
}

.content {
	width: 64%;
	height: 400px;
	position: relative;
	margin: 0 auto;
}


h2 {
	text-align: center;
	text-transform: uppercase;
}

footer {
	display: flex;
	width: 100%;
	height: 60px;
	background: rgba(0,0,0,0.9);
	color: white;
}

.foottextcontainer {
	height: 100%;
	border-right: 1px solid white;
	display: flex;
	align-items: center;
	padding: 0px 15px;
}

.foottext {
	text-align: center;
	text-transform: uppercase;
}

.footnav {
	list-style: none;
	text-transform: uppercase;
	width: 10%;
	height: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

article {
	font-size: 20px;
}

.projects {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.project {
	color: white;
	width: 300px;
	height: 300px;
	border: 1px solid #1D599C;
	background-color: #1D599C;
}

.linkToApp, .linkToRepo {
	width: 50px;
}

@media only screen and (max-width: 1250px){
	.biosec {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		/* flex-wrap: wrap; */
	}

	.bioimg {
		width: initial;
	}

	.biosec img {
		padding: 0px;
		border: 0px;
	}

	.biosec article, .mission article {
		width: 100%;
		line-height: 2.5;
	}

	#missionbio {
		line-height: 2.5;
	}
}

@media only screen and (max-width: 800px){
	.innerNav{
		display: none;
	}

	.foottextcontainer {
		display: none;
	}

	.footnav {
		margin: 0 auto;
		width: 30%;
	}
}
@media only screen and (max-width: 400px){
	.footnav{
		width: 50%;
	}

	.biosec {
		width: 90%;
	}

	article {
		line-height: 1;
	}
}
