* {
    font-family: "roboto";
    font-weight: 100;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    background-color: rgba(256,256,256,0.3);
}

header {
    color: white;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.5);
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    position: relative;
}

.elec {
    color: #035096;
}

.name, .title {
    margin: 0;
    text-align: center;
    position: relative;
    top: 39%;
}

.name {
    font-weight: 100;
    font-size: 60px;
}

.title {
    font-weight: 300;
    font-size: 25px;
}

nav {
    box-sizing: border-box;
    color: white;
    list-style: none;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
    height: 50px;
}

.menuitem {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
}

/*li:hover {
    cursor: pointer;
}*/

.main {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin: 0px;
}

/*BEGINNING OF THE PROJECTS SECTION*/

#projects {
    height: 100%;
    width: 100%;
}

.projects {
    display: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 80%;
    height: 300px;
    border: 1px solid black;
}


/*END OF THE PROJECTS SECTION*/

/*BEGINNING OF THE ABOUT SECTION*/

#about {
    height: 100%;
    width: 80%;
    position: relative;
    margin: auto;
}

.aboutpic {
    border-radius: 100px;
    margin-top: 50px;
}

.aboutarticle {
    float: right;
    width: 75%;
    font-size: 30px;
    line-height: 2;

}

.fat{
    font-size: 50px;
}
/*END OF THE ABOUT SECTION*/

/*BEGINNING OF THE CONTACT SECTION*/

#contact {
    height: 100%;
    width: 100%;
}

.contactContainer {
    width: 80%;
    height: 80%;
/*    background: rgba(87, 101, 203, 0.5);*/
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contactimg {
    width: 200px;
    -webkit-transition: 0.25s;
}

.contactimg:hover {
    width: 220px;
    -webkit-transition: 0.25s;
}

/*END OF THE CONTACT SECTION*/