* {
    font-family: "roboto";
    font-weight: 100;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    background-color: rgba(256,256,256,0.4);
}

header {
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.5);
    background-position: fixed;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    position: relative;
}

.elec {
    color: #035096;
}

.name, .title {
    margin: 0;
    text-align: center;
    position: relative;
    top: 39%;
    font-weight: 400;
}

.name {
    font-weight: 100;
    font-size: 60px;
}

.title {
    font-weight: 300;
    font-size: 25px;
}

nav {
    box-sizing: border-box;
    color: white;
    list-style: none;
    width: 100%;
    margin: 0;
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
    height: 50px;
    position: relative;
}

.menuitem {
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px;
    padding: 2px;
    transition: 0.5s;
    font-size: 20px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.menuitem:hover {
    border-bottom: 2px solid #035096;
    color: #035096;
    transition: 0.5s;
}

.main {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin: 0px;
}

/*BEGINNING OF THE PROJECTS SECTION*/

#projects {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
    box-sizing: border-box;
}

/*.projects {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/

.project {
    text-align: center;
    width: 425px;
    height: 350px;
    background: rgba(3,80,150,0.95);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1em;
    transition: 0.3s;
    position: relative;
}

.project:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    transition: 0.3s;
}


@keyframes loadline{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

.project_name {
    text-align: left;
    width: 0px;
    margin: 0px;
    border-bottom: 2px solid white;
    transition: 0.3s;
    animation: loadline 0.5s forwards;
}

.project_description {
    margin: 0px;
    line-height: 25px;
    font-size: 20px;
}


.project ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 20px;
    /*border: 1px solid red;*/
}

.icon_home {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    /*border: 1px solid red;*/
}


.linkToRepo {
    width: 50px;
    transition: 0.3s;
}

.linkToApp {
    width: 50px;
    transition: 0.3s;
}

/*END OF THE PROJECTS SECTION*/

/*BEGINNING OF THE ABOUT SECTION*/

#about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /*position: relative;
    margin: auto;*/
}

.aboutpic {
    border-radius: 100px;
    margin-top: 50px;
}

.aboutarticle {
    float: right;
    width: 60%;
    font-size: 30px;
    line-height: 2;
}

.fat{
    font-size: 50px;
}

@media (max-width: 768px) {
    nav {
        padding: 0em;
    }

    header, #projects, #about, #contact {
        box-sizing: border-box;
    }

    #projects {
        padding: 0px;
        padding-top: 2em;
    }

    #about {
        flex-flow: column wrap;
    }

    .aboutpic {
        display: none;
    }
}

@media (max-width: 414px){
    *{
        margin: 0px;
        box-sizing: border-box;
    }

    nav {
        text-align: center;
    }

    #projects, #about, #contact {
        height: initial;
    }

    .project {
        width: 414px;
        padding: 0px;
    }

    .project_description {
        width: 414px;
    }

    .project ul {
        align-items: center;
    }

    .fat {
        font-size: 30px;
    }

    .aboutarticle {
        width: 90%;
        font-size: 25px;
    }
}

@media (max-width: 375px){
    .project {
        width: 100%;
    }

    .project_description {
        width: 100%;
    }

    .descriptDiv {
        width: 100%;
    }
}

@media (max-width: 320px) {
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    .menuitem {
        font-size: 15px;
    }

    /*.project {
        width: 320px;
        padding: 0px;
    }

    .project_description {
        width: 320px;
    }

    .descriptDiv {
        width: 320px;
    }*/
}
/*END OF THE ABOUT SECTION*/

/*BEGINNING OF THE CONTACT SECTION*/

#contact {
    height: 100%;
    width: 100%;
}

.contactContainer {
    width: 80%;
    height: 80%;
/*    background: rgba(87, 101, 203, 0.5);*/
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contactimg {
    width: 200px;
    -webkit-transition: 0.25s;
}

.contactimg:hover {
    width: 220px;
    -webkit-transition: 0.25s;
}

/*END OF THE CONTACT SECTION*/